/* Créer une div supplémentaire puis mettre un <p> à l'intérieur */
/* A l'intérieur du <p>, faites un lorem15 */
/* Une fois que vous avez effectué les modifications, créez une */
/* nouvelle version */


#top-banner {
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    font-size: 2.5rem;
    text-align: center;
}