/* Vérifiez que vous êtes bien positionné sur le Master */
/* 1. Dans le fichier index.html, dans la partie Description, ajouter
    un <h1>Ma description</h1> 
    2. Dupliquez cette div puis remplacez par (Titre = "Mes récompenses")
    + <p>en construction...</p>
    3. Créer une nouvelle version
    4. Posez un tag sur cette nouvelle version
*/


#top-banner {
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    font-size: 2.5rem;
    text-align: center;
}